<div class='slide contest-show'>
	<div class='contest-content tac'>
		<h1>Наша электронная почта:</h1>
		<h1>pokori-olimp@yandex.ru</h1>
	</div>
	<!--<h1 style='margin: 100px;'>
		<b><span>Д</span>
		<span>И</span>
		<span>П</span>
		<span>Л</span>
		<span>О</span>
		<span>М</span></b>
	</h1> -->
</div>