<div class='slide'>
	<div class='central-content all-honor-content tac'>
	<h1 class='mtm mbs'>Награды</h1>
	<% (1..10).each do |val| %>
		<img src='/diploma_samples/<%=val%>.jpg' />
	<% end %>
	</div>
</div>