<div class='slide block680 ma mtl instruction'>
	<!--<img class='contest-background-img' src='http://www.goldrhapsody.com/wp-content/uploads/2015/09/bigstock-Honey-and-Herbal-tea-on-wooden-67103101.jpg' /> -->
	<div>
		<h1 class='tac mbm'>Как принять участие?</h1>

		<p>1. Выберите олимпиаду</p>

		<p>2. Выберите класс</p>

		<p>3. Выполните олимпиадные задания</p>

		<p>4. После прохождения олимпиады введите Ваши данные без ошибок и выберите диплом</p>

		<p>5. Зайдите в раздел «Итоги» и получите заслуженную награду 
		(Дипломы на электронную почту администрация сайта не присылает, вы скачиваете диплом самостоятельно в разделе «Итоги»)</p>
	</div>
	
</div>