<div class='slide our-site'>
	<div class='card ma'>
		<div class='col golden_section38'>
			<img src='/images/beecan.gif' />
		</div>
		<div class='col golden_section62'>
			<h1><a href='http://joy-olympic.ru' target='_blank'>www.joy-olympic.ru</a></h1>
			<div class='description'>
			Яркие и анимированные иллюстрации на сайте подарят детям не только знания, но и улыбки. Принимайте учатие!</br></br>
		📚 <b>Предметы</b>: математика, окружающий мир, русский и английский языки.
			</div>
		</div>
		<div class='clear'></div>
	</div>
</div>
<div class='slide our-site'>
	<div class='card ma'>
		<div class='col golden_section38'>
			<img src='/images/sprint.gif' />
		</div>
		<div class='col golden_section62'>
			<h1><a href='http://sprint-olympic.ru' target='_blank'>www.sprint-olympic.ru</a></h1>
			<div class='description'>
				Предметные олимпиады для школьников 1-11 классов. Все понятно и доступно!</br></br>
			📚 <b>Предметы</b>: математика, окружающий мир, русский и английский языки, информатика и ИКТ, история.
			</div>
		</div>
		<div class='clear'></div>
	</div>
</div>