<div class='standart-page'>
	<div class='menu-header'>
			<a>Задания</a>
			<a>Награды</a>
			<a>Достижения</a>
			<a>Еще что-нибудь</a>
	</div>
	<div class='main-content'>
		<div class='right-bar'>
		</div>
		<div class='content'>
			<h3>Задания на сегодня</h3>
		</div>
		<div class='clearboth'>
		</div>
	</div>
</div>
<div style = 'display: none;'><%= link_to logout_path, data: { no_turbolink: true } do %>
  Выход
<% end %></div>


<!--<div class='profile-info'>
			<img src='https://d13yacurqjgara.cloudfront.net/users/398490/screenshots/2722077/taco-preloader.gif' class='avatar'/>
			<div class='data-action'>
				<h2><%= @user.name %></h2>
				<div>
					<a>Награды (12)</a> | 
					<a>Достижения</a> |
					<a>Настройки</a>
				</div>
				<div class='wrap-honey'>
					Баночек меда: <img src='/images/honey.png' class='honey-img'/> <span>14</span>
				</div>
			</div>
		</div> -->