<div class='section'>
	  <div class='content-min600px card pd40 monstriki-invite'>
	  	<div class='golden_section38 col'>
	  		<img src='http://monstriki.com/images/img-slide3.png' />
	  	</div>
	  	<div class='golden_section62 col'>
	  		<h1>Интеллектуальные игры</h1>
	  	</div>
	  	<div class='clear'></div>
	  </div>
		<div class='clearboth'>
		</div>
</div>
