<div class='individual-background-game'>
	<div class='section game-show'>
		  <%= render 'games/allgames/game1' %>  
	</div>
</div>
<!--<script src="/js/phaser.min.js"></script>
<script src="/js/app.js"></script>-->