// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-home{
  /*background-image: url("http://www.ypanda.ru/assets/css/images/overlay.png"), url("http://www.ypanda.ru/assets/css/images/header.svg"), -moz-linear-gradient(75deg, #8FE577 15%, #115F41 55%);
  background-image: url("http://www.ypanda.ru/assets/css/images/overlay.png"), url("http://www.ypanda.ru/assets/css/images/header.svg"), -webkit-linear-gradient(75deg, #8FE577 15%, #115F41 55%);
  background-image: url("http://www.ypanda.ru/assets/css/images/overlay.png"), url("http://www.ypanda.ru/assets/css/images/header.svg"), -ms-linear-gradient(75deg, #8FE577 15%, #115F41 55%);
  background-image: radial-gradient(circle farthest-side at 80% 10%, #4ABBE8, #1989CB);*/
  padding: 0 5em 3em 0;
  background-image: linear-gradient(90deg, #e4b319 5%, #fec81e 45%);
  background-color: #fff8f8;
  /*background-size: 128px 128px, 100% 100%, auto;
  background-repeat: repeat, no-repeat, no-repeat;*/
  min-height: 340px;
}
#image-main-page {
  float: right;
  z-index: 1;
  vertical-align: top;
  width: 42%;
}
#slide-content1{
    top: 11%;
    left: 6%;
    width: 50%;
    color: #353535;
    h1, h2{
      text-shadow: 1px 1px rgba(228, 199, 105, 0.5);
    }
    h1{
    	margin-top: 6px;
   		font-size: 26px;
    }
    h2{
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.4;
    }
    .logoname{
      width: 80%;
      margin-bottom: 30px;
      box-shadow: 1px 1px 1p
    }
    .activities{
      a:first-child{
        margin-right: 30px;
      }
    }
}
.advantages-home{
	background-color: #f4f7fa;
	padding: 3em 0 5em 0;
	text-align: center;
	border-bottom: 1px solid #d4d4d4;
	.col{
		img{
			width: 70px;
		}
		div{
			padding: 10px 40px !important;
			border-left: 1px solid #d4d4d4;
			margin-top: 10px;
			min-height: 125px;
			text-align: center;
			p{
				margin-top: 7px;
			}
		}
		.first-child-css{
			border-left: none;
		}
	}
}
.devider-bee{
	text-align: center;
	height: 0px;
	img{
		position: relative;
		bottom: 3.5em;
		width: 70px;
	}
}
.olympics-home{
	width: 90%;
	margin: auto;
	padding: 4em 0 0 0 !important;
	div{
		text-align: center;
	}
	img{
		width: 100%;
		border-radius: 3px;
		margin-bottom: 6px;
	}
	.col{
		padding-left: 10px;
		padding-right: 10px;
	}
	h4{
	  margin: 10px 0;
	}
}
.instruction{
	p{
		font-size: 16px;
	}
}
.central-content{
	width: 98%;
  max-width: 900px;
  margin: auto;
  border-radius: 3px;
}
.all-honor-content{
	text-align: center;
	img{
		width: 43%;
		margin: 3%;
		border: 1px solid #E7E7E7;
	}
}
.our-site{
	.card{
		width: 70%;
		margin-top: 50px;
		padding: 40px;
	}
	.golden_section38{
		img{
			width: 100%;
		}
	}
	.golden_section62{
		padding-left: 20px;
		.description{
			font-size: 18px;
			margin-top: 20px;
		}
	}
}
.others-our-sites-on-welcome{
	font-size: 40px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
	a{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	img{
		width: 50px !important;
		position: relative;
		top: 10px;
	}
}

@media screen and (max-width: 800px) {
  #slide-content1{
    width: 100%;
    left: 5%;
    right: 5%;
    .logoname{
    	margin-top: 0px;
    }
  }
  .advantages-home{
		.col{
			width: 100% !important;
		}
	}
	.olympics-home{
		.col-press-25{
			width: 50%;
		}
	}
}
